<h2 mat-dialog-title>User: {{ data.name }} created successfully!</h2>
<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><strong>Username</strong>: {{ data.name }}
    </mat-list-item>
    <mat-list-item role="listitem"
      ><strong>Email</strong>: {{ data.email }}</mat-list-item
    >
    <mat-list-item role="listitem"
      ><strong>Phone</strong>: {{ data.mobile }}</mat-list-item
    >
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
