<mat-card>
  <button
    mat-raised-button
    style="margin-bottom: 25px;"
    color="primary"
    (click)="createNewUser()"
  >
    Add User
  </button>
  <table class="table" *ngIf="users$ | async as users">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>
          {{ i + 1 }}
        </td>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <mat-icon
            id="viewButton"
            color="primary"
            (click)="viewUserDialog(user.id)"
            >visibility</mat-icon
          >
          <mat-icon id="editButton" color="primary">edit</mat-icon>
          <mat-icon id="deleteButton" color="warn" (click)="deleteUser(user.id)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
<mat-error *ngIf="errorMessage$ | async as errorMessage">
  Error: {{ errorMessage }}
</mat-error>
