<mat-card>
  <form [formGroup]="userForm">
    <mat-form-field floatLabel="never">
      <input matInput [formControl]="name" placeholder="Name..." />
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)"
        >Enter valid characters</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field floatLabel="never">
      <input matInput [formControl]="email" placeholder="abc@example.com" />
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)"
        >Enter valid email</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field floatLabel="never">
      <input matInput [formControl]="mobile" placeholder="Mobile Number..." />
      <mat-error *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
        >Mobile number should be in valid Indian format</mat-error
      >
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="submitUser()">
      Save
    </button>
    <button mat-raised-button color="secondary" (click)="hideEditComponent()">
      Close
    </button>
  </form>
</mat-card>
