<h2 mat-dialog-title>{{ data.name }}'s Details</h2>
<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem"
      ><strong>Username</strong>: {{ data.username }}
    </mat-list-item>
    <mat-list-item role="listitem"
      ><strong>Email</strong>: {{ data.email }}</mat-list-item
    >
    <mat-list-item role="listitem"
      ><strong>Phone</strong>: {{ data.phone }}</mat-list-item
    >
    <mat-list-item role="listitem"
      ><strong>Website</strong>: {{ data.website }}</mat-list-item
    >
    <mat-list-item role="listitem"
      ><strong>Address</strong>:{{ data.address.suite }},{{
        data.address.street
      }},{{ data.address.city }},{{ data.address.zipcode }}</mat-list-item
    >
    <mat-list-item role="listitem"
      ><strong>Company</strong>: {{ data.company.name }}</mat-list-item
    >
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
